# Core networking / concurrency
orjson
requests
# For embeddings and NLP
sentence-transformers
openai
numpy
scikit-learn
pydantic
scipy
implicit
faiss-cpu
joblib

# Utilities
python-dotenv
tqdm

# Optional for deployment or local debugging
flask
gunicorn

# Data ingestion
spotipy
schedule

dotenv

